@font-face {
    font-family: 'Circe';
    src: url('../fonts/hinted-subset-Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
    url('../fonts/hinted-subset-Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-subset-Circe-Regular.woff') format('woff'),
    url('../fonts/hinted-subset-Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/hinted-subset-Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
    url('../fonts/hinted-subset-Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-subset-Circe-Bold.woff') format('woff'),
    url('../fonts/hinted-subset-Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Circe', sans-serif;
    margin: 0;
    background: #f7f7f7;
    position: relative;
    overflow: hidden;
    height: 100vh;
    min-height: 918px;
    input, textarea, select, button {
        font-family: 'Circe', Helvetica, Arial, sans-serif;
    }
    * {
        outline: none;
        transition-duration: 0.2s, 0.2s, 0.2s;
        transition-property: all;
    }
    @media (max-width: 700px) {
        min-height: auto;
    }
    h1, h2, h3, h4, h5, h6, span, td, th, title {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


.content {
    width: 1140px;
    margin: 0 auto;
    @media (max-width: 700px) {
        width: auto;
        padding: 0 20px;
    }
}

header {
    .content {
        padding: 36px 0 29px 0;
        border-bottom: 1px solid rgba(216, 216, 216, 0.5);
        @media (max-width: 700px) {
            padding: 30px 20px;
        }
    }
}

.btn-black {
    font-size: 17px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 2px;
    background: #000000;
    padding: 5px 35px 5px 30px;
    border: none;
    cursor: pointer;
    &:hover {
        background: #00AFA9;
    }
}

.dfr {
    display: flex;
    flex-direction: row;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.block-xs {
    @media (max-width: 700px) {
        display: block;
    }
}
