.auth {
  text-align: center; }
  .auth h1 {
    padding-top: 158px;
    padding-bottom: 5px;
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #000000; }
    @media (max-width: 700px) {
      .auth h1 {
        padding-top: 6px;
        padding-bottom: 17px;
        margin-bottom: 0;
        font-size: 25px; } }
  .auth .btn-group {
    display: flex;
    justify-content: center; }
    @media (max-width: 700px) {
      .auth .btn-group {
        display: block; } }
  .auth input {
    min-width: 480px;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.5);
    padding: 33px 18px 13px 18px;
    border-radius: 2px;
    border: 2px solid #ededed;
    border-right: none; }
    @media (max-width: 700px) {
      .auth input {
        display: block;
        width: 100%;
        min-width: 0;
        line-height: 1.58;
        padding: 20px;
        font-size: 17px;
        border-right: 2px solid #ededed;
        box-sizing: border-box;
        margin-bottom: 20px; } }
  .auth .message {
    margin-top: 40px;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center; }
    .auth .message span {
      display: block;
      max-width: 330px; }
    @media (max-width: 700px) {
      .auth .message {
        font-size: 15px; } }

.btn-login {
  font-size: 17px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  color: #ffffff;
  padding: 25px 30px;
  border-radius: 2px;
  border: none;
  background: #00AFA9;
  cursor: pointer; }
  .btn-login:hover {
    background: #00928F; }
  .btn-login.inactive {
    background: #b2e7e5 !important;
    cursor: not-allowed !important; }
  @media (max-width: 700px) {
    .btn-login {
      display: block;
      margin-bottom: 40px;
      width: 100%;
      padding: 20px; } }

.ring_wrap_1 {
  position: absolute;
  top: 354px;
  left: calc(-25px / 2); }
  .ring_wrap_1 .ring_1 {
    position: relative; }
    .ring_wrap_1 .ring_1::before {
      content: '';
      position: absolute;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border: 8px solid #00afa9;
      box-sizing: border-box; }
  @media (max-width: 700px) {
    .ring_wrap_1 {
      top: 20%;
      left: calc(-18px / 2); }
      .ring_wrap_1 .ring_1::before {
        height: 16px;
        width: 18px;
        border: 4px solid #00afa9; } }

.ring_wrap_2 {
  position: absolute;
  top: -35px;
  right: 186px; }
  .ring_wrap_2 .ring_2 {
    position: relative; }
    .ring_wrap_2 .ring_2::before {
      content: '';
      position: absolute;
      height: 65px;
      width: 65px;
      border-radius: 50%;
      border: 19px solid #e3e3e3;
      box-sizing: border-box; }
  @media (max-width: 700px) {
    .ring_wrap_2 {
      right: 44%;
      top: calc(-40px / 2); }
      .ring_wrap_2 .ring_2::before {
        width: 40px;
        height: 40px;
        border: 12px solid #e3e3e3; } }

.ring_wrap_3 {
  position: absolute;
  top: 534px;
  right: 66px; }
  .ring_wrap_3 .ring_3 {
    position: relative; }
    .ring_wrap_3 .ring_3::before {
      content: '';
      position: absolute;
      height: 126px;
      width: 126px;
      border-radius: 50%;
      border: 37px solid #a8b3b2;
      box-sizing: border-box;
      transform: translate(0, -50%); }
  @media (max-width: 700px) {
    .ring_wrap_3 {
      display: none; } }

.ring_wrap_4 {
  position: absolute;
  bottom: 0;
  right: 50%; }
  @media (max-width: 700px) {
    .ring_wrap_4 {
      display: none; } }
  .ring_wrap_4 .ring_4 {
    position: relative; }
    .ring_wrap_4 .ring_4::before {
      content: '';
      position: absolute;
      height: 581px;
      width: 581px;
      border-radius: 50%;
      border: 150px solid #00afa9;
      box-sizing: border-box;
      transform: translate(-50%, -37%); }

.ring_wrap_5 {
  position: absolute;
  bottom: 269px;
  left: 312px; }
  .ring_wrap_5 .ring_5 {
    position: relative; }
    .ring_wrap_5 .ring_5::before {
      content: '';
      position: absolute;
      height: 53px;
      width: 53px;
      border-radius: 50%;
      border: 16px solid rgba(107, 197, 199, 0.5);
      box-sizing: border-box; }
  @media (max-width: 700px) {
    .ring_wrap_5 {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0); }
      .ring_wrap_5 .ring_5::before {
        left: 50%;
        transform: translate(-50%, -40%);
        width: 207px;
        height: 195px;
        border: 58px solid #00AFA9; } }

/*# sourceMappingURL=style_1.css.map */
