@charset "UTF-8";
body {
  background: #ffffff;
  overflow: auto; }

@media (max-width: 700px) {
  header .content {
    padding-bottom: 0; }
    header .content.dfr {
      flex-wrap: wrap; }
      header .content.dfr .btn-black {
        order: 1; }
      header .content.dfr .wrap_login_dropdown {
        order: 2;
        font-size: 0; }
        header .content.dfr .wrap_login_dropdown span:after {
          display: none; }
        header .content.dfr .wrap_login_dropdown span:before {
          left: 0; }
        header .content.dfr .wrap_login_dropdown .login_dropdown_body {
          font-size: 14px;
          top: 40px; }
      header .content.dfr nav {
        order: 3; }
        header .content.dfr nav li {
          font-size: 15px; } }
header nav ul {
  display: flex; }
  header nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.29);
    text-transform: uppercase;
    margin-right: 40px;
    position: relative; }
    header nav ul li.icon-bug {
      padding-left: 28px; }
      header nav ul li.icon-bug:after {
        content: '';
        position: absolute;
        width: 18px;
        height: 16px;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-image: url("data:image/svg+xml,%3Csvg width='18px' height='16px' viewBox='0 0 18 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.-Region-HNWI.-Dashboard-w-signs' transform='translate(-683.000000, -45.000000)' fill-rule='nonzero' stroke='%23000000'%3E%3Cg id='Group-2' transform='translate(390.000000, 36.000000)'%3E%3Cg id='Group' transform='translate(293.000000, 4.000000)'%3E%3Cg id='Group-51'%3E%3Cg id='Group-46' transform='translate(0.000000, 5.000000)'%3E%3Cg id='Group-57'%3E%3Crect id='Rectangle' stroke-width='2' x='1' y='5' width='16' height='10' rx='2'%3E%3C/rect%3E%3Cpath d='M6,5 L12,5 L12,2 C12,1.44771525 11.5522847,1 11,1 L7,1 C6.44771525,1 6,1.44771525 6,2 L6,5 Z' id='Rectangle' stroke-width='2'%3E%3C/path%3E%3Crect id='Rectangle' fill='%23FFFFFF' x='6.5' y='8.5' width='1' height='3' rx='0.5'%3E%3C/rect%3E%3Crect id='Rectangle' fill='%23FFFFFF' x='10.5' y='8.5' width='1' height='3' rx='0.5'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
      header nav ul li.icon-bug:hover:after {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='18px' height='16px' viewBox='0 0 18 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='0.-Cuts' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-683.000000, -579.000000)' fill-rule='nonzero' id='Group-13' stroke='%2300AFA9'%3E%3Cg transform='translate(390.000000, 350.000000)'%3E%3Cg id='Group-10' transform='translate(0.000000, 70.000000)'%3E%3Cg id='Group-2-Copy' transform='translate(0.000000, 150.000000)'%3E%3Cg id='Group' transform='translate(293.000000, 4.000000)'%3E%3Cg id='Group-51'%3E%3Cg id='Group-46' transform='translate(0.000000, 5.000000)'%3E%3Cg id='Group-57'%3E%3Crect id='Rectangle' stroke-width='2' x='1' y='5' width='16' height='10' rx='2'%3E%3C/rect%3E%3Cpath d='M6,5 L12,5 L12,2 C12,1.44771525 11.5522847,1 11,1 L7,1 C6.44771525,1 6,1.44771525 6,2 L6,5 Z' id='Rectangle' stroke-width='2'%3E%3C/path%3E%3Crect id='Rectangle' x='6.5' y='8.5' width='1' height='3' rx='0.5'%3E%3C/rect%3E%3Crect id='Rectangle' x='10.5' y='8.5' width='1' height='3' rx='0.5'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
    header nav ul li.icon-arrows {
      padding-left: 27px; }
      header nav ul li.icon-arrows:after {
        content: '';
        position: absolute;
        width: 17px;
        height: 18px;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-image: url("data:image/svg+xml,%3Csvg width='17px' height='18px' viewBox='0 0 17 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.290922619' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='1.-Region-HNWI.-Dashboard-w-signs' transform='translate(-845.000000, -46.000000)' fill-rule='nonzero' stroke='%23000000' stroke-width='2'%3E%3Cg id='Group-2' transform='translate(390.000000, 36.000000)'%3E%3Cg id='Group-56' transform='translate(456.000000, 4.000000)'%3E%3Cg id='Group-54' transform='translate(0.000000, 7.000000)'%3E%3Cg id='Group-55' transform='translate(0.500000, 0.500000)'%3E%3Cg id='Group-58'%3E%3Cpath d='M1,3.5 L14,3.5' id='Path-18' transform='translate(7.500000, 3.500000) scale(-1, 1) translate(-7.500000, -3.500000) '%3E%3C/path%3E%3Cpolyline id='Path' transform='translate(3.396886, 3.396886) scale(-1, 1) rotate(-45.000000) translate(-3.396886, -3.396886) ' points='5.6615914 0.994924733 5.7988463 5.7988463 0.994924733 5.6615914'%3E%3C/polyline%3E%3Cpath d='M0,11.5 L13,11.5' id='Path-18'%3E%3C/path%3E%3Cpolyline id='Path' transform='translate(10.396886, 11.396886) rotate(-45.000000) translate(-10.396886, -11.396886) ' points='12.6615914 8.99492473 12.7988463 13.7988463 7.99492473 13.6615914'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
    header nav ul li.icon-dynamic {
      padding-left: 36px; }
      header nav ul li.icon-dynamic:after {
        content: '';
        position: absolute;
        width: 26px;
        height: 14px;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-image: url("data:image/svg+xml,%3Csvg width='26px' height='14px' viewBox='0 0 26 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.290922619'%3E%3Cg id='1.-Region-HNWI.-Dashboard-w-signs' transform='translate(-1097.000000, -47.000000)' fill-rule='nonzero' stroke='%23000000' stroke-width='2'%3E%3Cg id='Group-2' transform='translate(390.000000, 36.000000)'%3E%3Cg id='Group-47' transform='translate(707.000000, 4.000000)'%3E%3Cg id='Group-50'%3E%3Cg id='Group-73'%3E%3Cg id='Group-49' transform='translate(0.000000, 7.000000)'%3E%3Cg id='Group-60'%3E%3Cpolyline id='Path-4' stroke-linecap='round' stroke-linejoin='round' points='3.48242188 11.203125 10.6462064 6.3671875 14.5966797 8.78515625 20.8710937 4.3671875'%3E%3C/polyline%3E%3Ccircle id='Oval' fill='%23FFFFFF' cx='22.5' cy='3.5' r='2.5'%3E%3C/circle%3E%3Ccircle id='Oval' fill='%23FFFFFF' cx='3.5' cy='10.5' r='2.5'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
    header nav ul li:hover {
      cursor: pointer; }
    header nav ul li.active {
      color: #000000; }
      header nav ul li.active:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #00afa9;
        bottom: -46px;
        left: 0; }
        @media (max-width: 700px) {
          header nav ul li.active:before {
            bottom: 0; } }
    header nav ul li:last-child {
      margin-right: 0; }
@media (max-width: 700px) {
  header nav {
    margin: 30px -20px -5px;
    border-top: 1px #D8D8D8 solid;
    overflow-x: auto;
    width: calc(100% + 40px);
    padding-bottom: 4px; }
    header nav ul {
      margin: 0;
      padding: 0 20px;
      white-space: nowrap; }
      header nav ul li {
        padding: 20px;
        margin: 0 10px 0 0; } }
header .wrap_login_dropdown {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0; }
  header .wrap_login_dropdown .login_dropdown_body {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 51px;
    display: none;
    width: 232px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.53;
    letter-spacing: normal;
    cursor: default; }
    header .wrap_login_dropdown .login_dropdown_body .text {
      color: #b9b9b9;
      padding: 5px 30px 0 30px;
      border-bottom: 1px solid rgba(216, 216, 216, 0.5); }
    header .wrap_login_dropdown .login_dropdown_body .logout {
      color: #000000;
      cursor: pointer;
      text-align: right;
      padding: 0 30px 0 30px; }
  header .wrap_login_dropdown:hover {
    cursor: pointer; }
    header .wrap_login_dropdown:hover span:after {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='11px' height='7px' viewBox='0 0 11 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='0.-Cuts' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg transform='translate(-1518.000000, -586.000000)' fill-rule='nonzero' id='Group-13' stroke='%2300AFA9' stroke-width='2'%3E%3Cg transform='translate(390.000000, 350.000000)'%3E%3Cg id='Group-10' transform='translate(0.000000, 70.000000)'%3E%3Cg id='Group-9' transform='translate(951.000000, 154.000000)'%3E%3Cpolyline id='Path-2' transform='translate(182.500000, 15.165754) scale(1, -1) translate(-182.500000, -15.165754) ' points='178 13 182.5 17.331508 187 13'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
    header .wrap_login_dropdown:hover .login_dropdown_body {
      display: block; }
  header .wrap_login_dropdown span {
    margin: 10px;
    position: relative;
    padding-right: 20px; }
    header .wrap_login_dropdown span:after {
      content: '';
      position: absolute;
      width: 11px;
      height: 7px;
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='11px' height='7px' viewBox='0 0 11 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='1.-Region-HNWI.-Dashboard-w-signs' transform='translate(-1518.000000, -52.000000)' fill-rule='nonzero' stroke='%23000000' stroke-width='2'%3E%3Cg id='Group-2' transform='translate(390.000000, 36.000000)'%3E%3Cg id='Group-9' transform='translate(951.000000, 4.000000)'%3E%3Cpolyline id='Path-2' points='178 13 182.5 17.331508 187 13'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
    header .wrap_login_dropdown span:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translate(0, -50%);
      left: -38px;
      background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Ccircle id='path-1' cx='15' cy='15' r='15'%3E%3C/circle%3E%3C/defs%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.-Region-HNWI.-Dashboard-w-signs' transform='translate(-1341.000000, -41.000000)'%3E%3Crect fill='%23FFFFFF' x='0' y='0' width='1920' height='2362'%3E%3C/rect%3E%3Cg id='Group-2' transform='translate(390.000000, 36.000000)'%3E%3Cg id='Group-9' transform='translate(951.000000, 4.000000)'%3E%3Cg id='Icons-/-Empty-photo' transform='translate(0.000000, 1.000000)'%3E%3Cg id='Path-10-+-Oval-Mask-Copy'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Ccircle stroke='%23000000' stroke-width='2' cx='15' cy='15' r='14'%3E%3C/circle%3E%3Cpath d='M3,29.3593803 C6.04873681,24.4585568 10.0183475,22.005433 14.908832,22.000009 C19.7993165,21.9945849 23.8290548,24.4477087 26.9980469,29.3593803' id='Path-10' stroke='%23000000' stroke-width='2' fill-rule='nonzero' mask='url(%23mask-2)'%3E%3C/path%3E%3Crect id='Rectangle' stroke='%23000000' stroke-width='2' fill='%23FFFFFF' fill-rule='nonzero' mask='url(%23mask-2)' x='12' y='10' width='6' height='8' rx='3'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

footer {
  background: #f7f7f7;
  height: 110px; }
  footer .content {
    padding: 30px 0 40px 0; }
  footer .phone {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: #000000;
    display: flex;
    align-items: center; }
    footer .phone svg {
      margin-right: 10px; }
    footer .phone span {
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      color: #999999;
      margin-left: 3px; }
  footer .email {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: #000000;
    display: flex;
    align-items: center;
    cursor: pointer; }
    footer .email .icon {
      margin-right: 10px;
      width: 30px;
      height: 25px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='30px' height='25px' viewBox='0 0 30 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Ccircle id='path-1' cx='24' cy='4' r='4'%3E%3C/circle%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Footer-/-w-contacts' transform='translate(-976.000000, -24.000000)'%3E%3Cg id='Group-7'%3E%3Cg id='Group-5' transform='translate(0.000000, 1.000000)'%3E%3Cg id='Group-89' transform='translate(390.000000, 25.000000)'%3E%3Cg id='Group-90' transform='translate(586.000000, 0.000000)'%3E%3Cg id='Group-95'%3E%3Cpath d='M2,8 C1.44771525,8 1,8.44771525 1,9 L1,21 C1,21.5522847 1.44771525,22 2,22 L22,22 C22.5522847,22 23,21.5522847 23,21 L23,9 C23,8.44771525 22.5522847,8 22,8 L2,8 Z' id='Rectangle-17-Copy-2' stroke='%23000000' stroke-width='2' fill='%23C7EAE9'%3E%3C/path%3E%3Cpolyline id='Path-2' stroke='%23000000' stroke-width='2' points='1.11328125 12.9039063 12.1640625 16.4929688 23.2148438 12.9039063'%3E%3C/polyline%3E%3Cg id='Oval' fill-rule='nonzero'%3E%3Cuse stroke='%23F7F7F7' stroke-width='4' fill='%23FFFFFF' xlink:href='%23path-1'%3E%3C/use%3E%3Ccircle stroke='%2300AFA9' stroke-width='2' stroke-linejoin='square' cx='24' cy='4' r='3'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
    footer .email span {
      position: relative; }
      footer .email span:before {
        content: '';
        position: absolute;
        border-radius: 2px;
        height: 2px;
        width: 100%;
        background: #00afa9;
        bottom: 3px;
        left: 0; }
    footer .email:hover span:before {
      background: #000000; }
  footer .mobile_version {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #999999;
    cursor: pointer; }
    footer .mobile_version:hover {
      color: #000000; }
  @media (max-width: 700px) {
    footer {
      height: auto; }
      footer .content {
        flex-wrap: wrap;
        padding: 20px; }
        footer .content * {
          font-size: 14px; }
        footer .content .btn-black {
          margin-bottom: 10px; }
        footer .content div {
          width: 100%;
          margin: 0 0 10px; }
          footer .content div.mobile_version {
            margin-bottom: 0; } }

section .content {
  padding: 40px 0 100px 0; }
  @media (max-width: 700px) {
    section .content {
      flex-wrap: wrap; } }
  section .content.wrap_chart {
    display: flex;
    justify-content: space-between; }
    section .content.wrap_chart .chart_info {
      width: 25%; }
      section .content.wrap_chart .chart_info .chart_info_sub_title {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.79;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.5); }
      section .content.wrap_chart .chart_info .chart_info_title {
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #000000;
        padding: 10px 0 20px 0; }
      section .content.wrap_chart .chart_info .chart_info_content .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(216, 216, 216, 0.7); }
        section .content.wrap_chart .chart_info .chart_info_content .row .col {
          position: relative; }
          section .content.wrap_chart .chart_info .chart_info_content .row .col:first-child {
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.94;
            letter-spacing: normal;
            color: #000000; }
            @media (max-width: 700px) {
              section .content.wrap_chart .chart_info .chart_info_content .row .col:first-child {
                font-size: 15px; } }
            section .content.wrap_chart .chart_info .chart_info_content .row .col:first-child:before {
              content: '';
              position: absolute;
              width: 9px;
              height: 9px;
              border-radius: 50%;
              border: 2px solid;
              top: 50%;
              transform: translate(0, -50%);
              left: -22px; }
            section .content.wrap_chart .chart_info .chart_info_content .row .col:first-child.black:before {
              border-color: #000000; }
            section .content.wrap_chart .chart_info .chart_info_content .row .col:first-child.green:before {
              border-color: #00afa9; }
            section .content.wrap_chart .chart_info .chart_info_content .row .col:first-child.light_green:before {
              border-color: #6bc5c7; }
            section .content.wrap_chart .chart_info .chart_info_content .row .col:first-child.grey:before {
              border-color: #a8b3b2; }
            section .content.wrap_chart .chart_info .chart_info_content .row .col:first-child.light_grey:before {
              border-color: #e3e3e3; }
          section .content.wrap_chart .chart_info .chart_info_content .row .col:last-child {
            font-size: 17px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.94;
            letter-spacing: normal;
            text-align: right;
            color: #000000; }
            @media (max-width: 700px) {
              section .content.wrap_chart .chart_info .chart_info_content .row .col:last-child {
                font-size: 15px; } }
    section .content.wrap_chart .chart_donut_wrap {
      width: 50%;
      padding-left: 80px;
      padding-top: 100px; }
      section .content.wrap_chart .chart_donut_wrap .donut {
        width: 400px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 60px solid;
        border-radius: 50%;
        box-sizing: border-box; }
        section .content.wrap_chart .chart_donut_wrap .donut .sub_title {
          font-size: 17px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: rgba(0, 0, 0, 0.5); }
          @media (max-width: 700px) {
            section .content.wrap_chart .chart_donut_wrap .donut .sub_title {
              font-size: 15px; } }
        section .content.wrap_chart .chart_donut_wrap .donut .total {
          font-size: 27px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.81;
          letter-spacing: normal;
          text-align: center;
          color: #000000;
          margin-top: 9px;
          position: relative; }
          @media (max-width: 700px) {
            section .content.wrap_chart .chart_donut_wrap .donut .total {
              font-size: 21px; } }
          section .content.wrap_chart .chart_donut_wrap .donut .total:after {
            content: '';
            position: absolute;
            width: 115%;
            height: 20px;
            left: 0;
            bottom: -20px; }
          section .content.wrap_chart .chart_donut_wrap .donut .total:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: -18px;
            width: 13px;
            height: 8px;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='13px' height='8px' viewBox='0 0 13 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='1.-Region-HNWI.-Dashboard-w-signs' transform='translate(-1047.000000, -478.000000)' fill-rule='nonzero' stroke='%23000000' stroke-width='3'%3E%3Cg id='Group-29' transform='translate(699.000000, 206.000000)'%3E%3Cg id='Group-28' transform='translate(162.000000, 232.000000)'%3E%3Cg id='Group-34'%3E%3Cpolyline id='Path-2' points='188 42 192.5 46.331508 197 42'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
          section .content.wrap_chart .chart_donut_wrap .donut .total:hover {
            cursor: pointer; }
            section .content.wrap_chart .chart_donut_wrap .donut .total:hover:before {
              background-image: url("data:image/svg+xml,%0A%3Csvg width='13px' height='8px' viewBox='0 0 13 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='0.-Bubbles-w-various-conditions' transform='translate(-1962.000000, -384.000000)' fill-rule='nonzero' stroke='%2300ADA7' stroke-width='3'%3E%3Cg id='Group-22' transform='translate(1604.000000, 90.000000)'%3E%3Cg id='Group-10' transform='translate(184.000000, 254.000000)'%3E%3Cpolyline id='Path-2' transform='translate(180.500000, 44.165754) scale(1, -1) translate(-180.500000, -44.165754) ' points='176 42 180.5 46.331508 185 42'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
            section .content.wrap_chart .chart_donut_wrap .donut .total:hover .total_modal {
              display: block; }
          section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal {
            padding: 20px;
            cursor: default;
            display: none;
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 354px;
            height: 200px;
            border-radius: 10px;
            box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.15);
            background-color: #ffffff; }
            @media (max-width: 700px) {
              section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal {
                max-width: 260px; } }
            section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal .total_modal_close_btn {
              width: 20px;
              height: 20px;
              cursor: pointer;
              float: right;
              background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.-Bubbles-w-various-conditions' transform='translate(-2024.000000, -430.000000)' fill-rule='nonzero' stroke='%23000000' stroke-width='2'%3E%3Cg id='Group-22' transform='translate(1604.000000, 90.000000)'%3E%3Cg id='Group-21'%3E%3Cg id='Group-20' transform='translate(106.000000, 320.000000)'%3E%3Cg id='Group-19' transform='translate(314.000000, 20.000000)'%3E%3Cg id='Group-16'%3E%3Cg id='Group-17' transform='translate(7.000000, 7.000000)' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M8.43769499e-14,3.99680289e-14 L5.87442557,5.87442557' id='Path-9'%3E%3C/path%3E%3Cpath d='M8.43769499e-14,4.08562073e-14 L5.87442557,5.87442557' id='Path-9' transform='translate(2.937213, 2.937213) scale(-1, 1) translate(-2.937213, -2.937213) '%3E%3C/path%3E%3C/g%3E%3Crect id='Rectangle' opacity='0.100000001' x='1' y='1' width='18' height='18' rx='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
            section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal .total_modal_title {
              padding-top: 20px;
              font-size: 17px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: center;
              color: rgba(0, 0, 0, 0.5);
              padding-bottom: 10px; }
            section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal .total_modal_price {
              font-size: 27px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 0.81;
              letter-spacing: normal;
              text-align: center;
              color: #000000;
              padding-top: 25px; }
            section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal .btn-group {
              display: flex;
              justify-content: center; }
              section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal .btn-group .btn {
                box-sizing: border-box;
                border: 2px solid #e3e3e3;
                width: 51px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 17px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.76;
                letter-spacing: normal;
                color: #000000;
                margin-left: -2px; }
                section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal .btn-group .btn:hover {
                  border-color: #000000;
                  cursor: pointer;
                  z-index: 2; }
                section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal .btn-group .btn.active {
                  border-color: #00afa9; }
                section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal .btn-group .btn:first-child {
                  border-bottom-left-radius: 4px;
                  border-top-left-radius: 4px;
                  margin-left: 0; }
                section .content.wrap_chart .chart_donut_wrap .donut .total .total_modal .btn-group .btn:last-child {
                  border-bottom-right-radius: 4px;
                  border-top-right-radius: 4px; }
    section .content.wrap_chart .chart_panel {
      width: 25%; }
      section .content.wrap_chart .chart_panel .chart_panel_sub_title {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.79;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.5); }
      section .content.wrap_chart .chart_panel .btn-wrap {
        margin-top: 10px;
        display: flex; }
        section .content.wrap_chart .chart_panel .btn-wrap div {
          border-radius: 4px;
          border: 2px solid;
          padding: 0 15px;
          font-size: 17px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.94;
          letter-spacing: normal;
          color: #000000; }
          section .content.wrap_chart .chart_panel .btn-wrap div:not(.active) {
            border-color: #e3e3e3; }
            section .content.wrap_chart .chart_panel .btn-wrap div:not(.active):first-child {
              border-right: none;
              margin-right: -2px; }
            section .content.wrap_chart .chart_panel .btn-wrap div:not(.active):last-child {
              border-left: none;
              margin-left: -2px; }
          section .content.wrap_chart .chart_panel .btn-wrap div.active {
            border-color: #00afa9;
            z-index: 2; }
          section .content.wrap_chart .chart_panel .btn-wrap div:hover {
            cursor: pointer;
            background: #F2F2F2; }
            section .content.wrap_chart .chart_panel .btn-wrap div:hover:not(.active) {
              border-color: #AAAAAA; }
    @media (max-width: 700px) {
      section .content.wrap_chart {
        padding: 30px 20px 0; }
        section .content.wrap_chart .chart_panel {
          order: 1;
          width: 100%; }
          section .content.wrap_chart .chart_panel .btn-wrap div {
            font-size: 15px; }
        section .content.wrap_chart .chart_info {
          order: 3;
          width: 100%; }
          section .content.wrap_chart .chart_info .chart_info_sub_title, section .content.wrap_chart .chart_info .chart_info_title {
            display: none; }
          section .content.wrap_chart .chart_info .chart_info_content {
            padding-left: 20px;
            padding-right: 10px; }
        section .content.wrap_chart .chart_donut_wrap {
          order: 2;
          width: 100%;
          padding: 35px 0; }
          section .content.wrap_chart .chart_donut_wrap .donut {
            margin: 0 auto;
            width: 280px;
            height: 280px;
            border: 30px solid; } }
  section .content h3 {
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 30px; }
  section .content .accordion .sub .accordion_item_title {
    background: #f7f7f7;
    padding-top: 13px;
    padding-bottom: 13px; }
    section .content .accordion .sub .accordion_item_title.black:before {
      width: 4px; }
    section .content .accordion .sub .accordion_item_title.green:before {
      width: 4px; }
    section .content .accordion .sub .accordion_item_title.grey:before {
      width: 4px; }
  section .content .accordion .accordion_item.collapsed .accordion_item_content {
    display: none; }
  section .content .accordion .accordion_item.collapsed .accordion_item_title .title span {
    position: relative; }
    section .content .accordion .accordion_item.collapsed .accordion_item_title .title span:before {
      content: '';
      width: 11px;
      height: 7px;
      position: absolute;
      top: 50%;
      right: -14px;
      transform: translate(0, -50%);
      cursor: pointer;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='11px' height='7px' viewBox='0 0 11 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='0.-Cuts' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.300000012' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg transform='translate(-587.000000, -1323.000000)' fill-rule='nonzero' id='Group-20' stroke='%23000000' stroke-width='2'%3E%3Cg transform='translate(390.000000, 1220.000000)'%3E%3Cg id='Group-7' transform='translate(0.000000, 70.000000)'%3E%3Cpolyline id='Path-2' points='198 34 202.5 38.331508 207 34'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  section .content .accordion .accordion_item.collapsed .accordion_item_title:hover {
    background: #F2F2F2;
    cursor: pointer; }
    section .content .accordion .accordion_item.collapsed .accordion_item_title:hover .title span {
      position: relative; }
      section .content .accordion .accordion_item.collapsed .accordion_item_title:hover .title span:before {
        content: '';
        width: 11px;
        height: 7px;
        position: absolute;
        top: 50%;
        right: -14px;
        transform: translate(0, -50%);
        cursor: pointer;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='11px' height='7px' viewBox='0 0 11 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='0.-Cuts' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg transform='translate(-587.000000, -1413.000000)' fill-rule='nonzero' id='Group-20' stroke='%2300AFA9' stroke-width='2'%3E%3Cg transform='translate(390.000000, 1220.000000)'%3E%3Cg id='Group-7-Copy' transform='translate(0.000000, 160.000000)'%3E%3Cpolyline id='Path-2' points='198 34 202.5 38.331508 207 34'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  section .content .accordion .accordion_item.expanded .accordion_item_content {
    display: block; }
  section .content .accordion .accordion_item.expanded .accordion_item_title:hover {
    cursor: pointer;
    background: #F2F2F2; }
  section .content .accordion .accordion_item.expanded .accordion_item_title .title span {
    position: relative; }
    section .content .accordion .accordion_item.expanded .accordion_item_title .title span:before {
      content: '';
      width: 11px;
      height: 7px;
      position: absolute;
      top: 50%;
      right: -14px;
      transform: translate(0, -50%);
      cursor: pointer;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='11px' height='7px' viewBox='0 0 11 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='0.-Cuts' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg transform='translate(-587.000000, -1503.000000)' fill-rule='nonzero' id='Group-20' stroke='%2300AFA9' stroke-width='2'%3E%3Cg transform='translate(390.000000, 1220.000000)'%3E%3Cg id='Group-7-Copy-2' transform='translate(0.000000, 250.000000)'%3E%3Cpolyline id='Path-2' transform='translate(202.500000, 36.165754) scale(1, -1) translate(-202.500000, -36.165754) ' points='198 34 202.5 38.331508 207 34'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  section .content .accordion .accordion_item_title {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 23px 29px 23px 61px;
    border-radius: 4px;
    border: 2px solid #000000;
    position: relative; }
    section .content .accordion .accordion_item_title.black:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 100%;
      left: 0;
      top: 0;
      background: #000000; }
    section .content .accordion .accordion_item_title.green:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 100%;
      left: 0;
      top: 0;
      background: #00afa9; }
    section .content .accordion .accordion_item_title.grey:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 100%;
      left: 0;
      top: 0;
      background: #e3e3e3; }
    section .content .accordion .accordion_item_title .title {
      width: 30%; }
      section .content .accordion .accordion_item_title .title.icon-bank span {
        position: relative; }
        section .content .accordion .accordion_item_title .title.icon-bank span:after {
          content: '';
          position: absolute;
          width: 17px;
          height: 17px;
          left: -24px;
          top: 50%;
          transform: translate(0, -50%);
          background-image: url("data:image/svg+xml,%3Csvg width='17px' height='17px' viewBox='0 0 17 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='1.1.-Region.-HNWI.-Dashboard.-view-the-currencies' transform='translate(-425.000000, -862.000000)' fill-rule='nonzero' stroke='%23000000' stroke-width='2'%3E%3Cg id='Group-86' transform='translate(389.000000, 778.000000)'%3E%3Cg id='Group-85'%3E%3Cg id='Group-87'%3E%3Cg id='Group-45' transform='translate(37.000000, 85.000000)'%3E%3Cpath d='M5.32907052e-15,8 L15,8' id='Path'%3E%3C/path%3E%3Cpath d='M8.8817842e-15,15 L15,15' id='Path'%3E%3C/path%3E%3Cpath d='M7.5,15 L7.5,9 L7.5,15 Z' id='Path'%3E%3C/path%3E%3Cpath d='M12.5,15 L12.5,9 L12.5,15 Z' id='Path'%3E%3C/path%3E%3Cpath d='M2.5,15 L2.5,9 L2.5,15 Z' id='Path'%3E%3C/path%3E%3Cpolygon id='Path-3' points='7.5 2.62012634e-14 -1.50990331e-14 5.01476448 15 5.01476448'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
      section .content .accordion .accordion_item_title .title.icon-candle span {
        position: relative; }
        section .content .accordion .accordion_item_title .title.icon-candle span:after {
          content: '';
          position: absolute;
          width: 18px;
          height: 18px;
          left: -25px;
          top: 50%;
          transform: translate(0, -50%);
          background-image: url("data:image/svg+xml,%0A%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='1.-Region-HNWI.-Dashboard-w-signs' transform='translate(-424.000000, -1196.000000)' fill-rule='nonzero' stroke='%23000000' stroke-width='2'%3E%3Cg id='Group-86' transform='translate(389.000000, 778.000000)'%3E%3Cg id='Group-85'%3E%3Cg id='Group-82' transform='translate(0.000000, 392.000000)'%3E%3Cg id='Group-83'%3E%3Cpath d='M39.0488281,29.0834961 L39.0488281,42.2470701' id='Path-5'%3E%3C/path%3E%3Crect id='Rectangle' fill='%23FFFFFF' x='36' y='33' width='6' height='6'%3E%3C/rect%3E%3Cpath d='M49.0488281,27.0834961 L49.0488281,42.2470701' id='Path-5'%3E%3C/path%3E%3Crect id='Rectangle' fill='%23FFFFFF' x='46' y='29' width='6' height='11'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
      section .content .accordion .accordion_item_title .title.icon-minus span {
        position: relative; }
        section .content .accordion .accordion_item_title .title.icon-minus span:after {
          content: '';
          position: absolute;
          width: 13px;
          height: 2px;
          left: -20px;
          top: 50%;
          transform: translate(0, -50%);
          background-image: url("data:image/svg+xml,%0A%3Csvg width='13px' height='2px' viewBox='0 0 13 2' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' font-family='Helvetica' font-size='17' font-weight='normal'%3E%3Cg id='1.-Region-HNWI.-Dashboard-w-signs' transform='translate(-429.000000, -1262.000000)' fill='%23000000'%3E%3Cg id='Group-86' transform='translate(389.000000, 778.000000)'%3E%3Cg id='Group-85'%3E%3Cg id='Group-82' transform='translate(0.000000, 392.000000)'%3E%3Cg id='Group-83'%3E%3Cg id='Group-5' transform='translate(0.000000, 68.000000)'%3E%3Ctext id='—'%3E%3Ctspan x='38' y='29.331508'%3E—%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
      section .content .accordion .accordion_item_title .title.icon-user span {
        position: relative; }
        section .content .accordion .accordion_item_title .title.icon-user span:after {
          content: '';
          position: absolute;
          width: 19px;
          height: 17px;
          left: -26px;
          top: 50%;
          transform: translate(0, -50%);
          background-image: url("data:image/svg+xml,%0A%3Csvg width='19px' height='17px' viewBox='0 0 19 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='1.-Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.-Region-HNWI.-Dashboard-w-signs' transform='translate(-423.000000, -1984.000000)' fill-rule='nonzero' stroke='%23000000' stroke-width='2'%3E%3Cg id='Group-86' transform='translate(389.000000, 778.000000)'%3E%3Cg id='Group-85'%3E%3Cg id='Group-82' transform='translate(0.000000, 392.000000)'%3E%3Cg id='Group-83'%3E%3Ccircle id='Oval' cx='43.5' cy='818.5' r='3.5'%3E%3C/circle%3E%3Cpath d='M36.9426202,829.953145 L50.0573635,829.953169 C50.6096618,829.953169 51.0573881,829.505443 51.0573881,828.953145 C51.0573881,828.715042 50.9724322,828.484752 50.8178003,828.303695 C48.9367905,826.101232 46.4975237,825 43.5,825 C40.5024777,825 38.0632118,826.101231 36.1822023,828.303692 L36.182188,828.303679 C35.8235087,828.723655 35.8731988,829.354879 36.2931739,829.713558 C36.4742304,829.868189 36.7045189,829.953145 36.9426202,829.953145 Z' id='Path' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
    section .content .accordion .accordion_item_title .percentage {
      width: 50%;
      position: relative; }
      section .content .accordion .accordion_item_title .percentage:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        top: 50%;
        left: -26px;
        transform: translate(0, -50%);
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='0.-Cuts' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg transform='translate(-765.000000, -1495.000000)' fill-rule='nonzero' id='Group-20' stroke='%23000000' stroke-width='2'%3E%3Cg transform='translate(390.000000, 1220.000000)'%3E%3Cg id='Group-7-Copy-2' transform='translate(0.000000, 250.000000)'%3E%3Cpath d='M390,37 L383,37 L383,44 C379.134007,44 376,40.8659932 376,37 C376,33.1340068 379.134007,30 383,30 C386.865993,30 390,33.1340068 390,37 Z' id='Combined-Shape' transform='translate(383.000000, 37.000000) rotate(-90.000000) translate(-383.000000, -37.000000) '%3E%3C/path%3E%3Cpath d='M394.2,26 C394.2,29.8659932 391.065993,33 387.2,33 L387.2,26 L394.2,26 Z' id='Combined-Shape' transform='translate(390.600000, 29.600000) rotate(-90.000000) translate(-390.600000, -29.600000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
    section .content .accordion .accordion_item_title .total {
      width: 20%;
      text-align: right; }
    @media (max-width: 700px) {
      section .content .accordion .accordion_item_title {
        padding-left: 37px;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-wrap: wrap; }
        section .content .accordion .accordion_item_title .title {
          order: 1;
          width: 100%; }
          section .content .accordion .accordion_item_title .title span {
            display: block; }
            section .content .accordion .accordion_item_title .title span:before {
              right: 0; }
        section .content .accordion .accordion_item_title .total {
          order: 2;
          width: auto; }
        section .content .accordion .accordion_item_title .percentage {
          order: 3;
          width: auto; } }
  section .content .accordion .accordion_item_content table {
    width: 100%; }
  section .content .accordion .accordion_item_content th {
    background: #f7f7f7;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 1;
    color: rgba(0, 0, 0, 0.5);
    padding: 9.7px 0 11.3px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    section .content .accordion .accordion_item_content th:nth-child(1) {
      padding-left: 61px;
      width: 40%; }
    section .content .accordion .accordion_item_content th:nth-child(2) {
      width: 20%; }
    section .content .accordion .accordion_item_content th:nth-child(3) {
      width: 20%;
      text-align: right; }
    section .content .accordion .accordion_item_content th:nth-child(4) {
      width: 20%;
      text-align: right;
      padding-right: 29px; }
  section .content .accordion .accordion_item_content td {
    background: #f7f7f7;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 0; }
    section .content .accordion .accordion_item_content td:nth-child(1) {
      padding-left: 61px; }
    section .content .accordion .accordion_item_content td:nth-child(2) {
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.93;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.5); }
    section .content .accordion .accordion_item_content td:nth-child(3) {
      text-align: right;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.93;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.5); }
    section .content .accordion .accordion_item_content td:nth-child(4) {
      text-align: right;
      font-size: 17px;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.94;
      letter-spacing: normal;
      color: #000000;
      padding-right: 29px; }
    section .content .accordion .accordion_item_content td .percentage {
      margin-left: 26px;
      position: relative;
      margin-top: 5px; }
      section .content .accordion .accordion_item_content td .percentage:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        top: 50%;
        left: -26px;
        transform: translate(0, -50%);
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='0.-Cuts' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg transform='translate(-765.000000, -1495.000000)' fill-rule='nonzero' id='Group-20' stroke='%23000000' stroke-width='2'%3E%3Cg transform='translate(390.000000, 1220.000000)'%3E%3Cg id='Group-7-Copy-2' transform='translate(0.000000, 250.000000)'%3E%3Cpath d='M390,37 L383,37 L383,44 C379.134007,44 376,40.8659932 376,37 C376,33.1340068 379.134007,30 383,30 C386.865993,30 390,33.1340068 390,37 Z' id='Combined-Shape' transform='translate(383.000000, 37.000000) rotate(-90.000000) translate(-383.000000, -37.000000) '%3E%3C/path%3E%3Cpath d='M394.2,26 C394.2,29.8659932 391.065993,33 387.2,33 L387.2,26 L394.2,26 Z' id='Combined-Shape' transform='translate(390.600000, 29.600000) rotate(-90.000000) translate(-390.600000, -29.600000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  @media (max-width: 700px) {
    section .content .accordion .accordion_item_content th, section .content .accordion .accordion_item_content td {
      font-size: 15px;
      padding: 10px 10px !important; }
    section .content .accordion .accordion_item_content td {
      line-height: 1.6 !important;
      vertical-align: bottom; }
      section .content .accordion .accordion_item_content td .v-m {
        margin-top: 5px; }
    section .content .accordion .accordion_item_content th:nth-child(1), section .content .accordion .accordion_item_content td:nth-child(1) {
      padding-left: 20px !important; }
      section .content .accordion .accordion_item_content th:nth-child(1) .v-m, section .content .accordion .accordion_item_content td:nth-child(1) .v-m {
        margin-top: 0; }
    section .content .accordion .accordion_item_content th:nth-child(3), section .content .accordion .accordion_item_content td:nth-child(3) {
      display: none; }
    section .content .accordion .accordion_item_content td:last-child {
      white-space: nowrap; }
      section .content .accordion .accordion_item_content td:last-child .v-m {
        color: rgba(0, 0, 0, 0.5); } }
@media (max-width: 700px) {
  section .content-detail {
    padding: 20px; }
    section .content-detail .content-detail-title {
      text-transform: uppercase;
      font-size: 15px; } }

.v-m {
  display: none; }

@media (max-width: 700px) {
  .v-d {
    display: none; }

  .v-m {
    display: block;
    white-space: nowrap; }

  section .content .accordion .accordion_item.expanded .accordion_item_title .title span:before {
    transform: translate(0, -50%) rotate(90deg) !important; } }

/*# sourceMappingURL=style_dashboard_1.css.map */
