.wrap_input {
  position: relative;
}
.wrap_input .label_input {
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.wrap_input input {
  min-width: auto;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #000000;
}
.wrap_input input:invalid ~ .label_input {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  top: 16px;
}
.wrap_input input:focus {
  border-color: #00afa9;
}
.wrap_input input:focus ~ .label_input {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  top: 16px;
}
.wrap_input:last-child:focus {
  background: black;
}

.dabble .wrap_input:first-child input:focus {
  border-right: 2px solid #00afa9;
}
.dabble .wrap_input.password:before {
  content: "";
  position: absolute;
  width: 19px;
  height: 13px;
  right: 26px;
  top: 50%;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='19px' height='13px' viewBox='0 0 19 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icon/View' fill='%23C6CBD4'%3E%3Cpath d='M9.1796875,0.25 C11.2369895,0.25 13.0924396,0.829421289 14.7460938,1.98828125 C16.3997479,3.14714121 17.5911422,4.65103242 18.3203125,6.5 C17.5911422,8.34896758 16.3997479,9.85285879 14.7460938,11.0117188 C13.0924396,12.1705787 11.2369895,12.75 9.1796875,12.75 C7.12238555,12.75 5.260425,12.1705787 3.59375,11.0117188 C1.927075,9.85285879 0.729170313,8.34896758 0,6.5 C0.729170313,4.65103242 1.927075,3.14714121 3.59375,1.98828125 C5.260425,0.829421289 7.12238555,0.25 9.1796875,0.25 Z M9.1796875,10.6796875 C10.3255266,10.6796875 11.3020793,10.2695354 12.109375,9.44921875 C12.9166707,8.62890215 13.3203125,7.64583906 13.3203125,6.5 C13.3203125,5.35416094 12.9166707,4.37109785 12.109375,3.55078125 C11.3020793,2.73046465 10.3255266,2.3203125 9.1796875,2.3203125 C8.03384844,2.3203125 7.05078535,2.73046465 6.23046875,3.55078125 C5.41015215,4.37109785 5,5.35416094 5,6.5 C5,7.64583906 5.41015215,8.62890215 6.23046875,9.44921875 C7.05078535,10.2695354 8.03384844,10.6796875 9.1796875,10.6796875 Z M9.16015625,4 C9.85026387,4 10.4427059,4.24088301 10.9375,4.72265625 C11.4322941,5.20442949 11.6796875,5.79687148 11.6796875,6.5 C11.6796875,7.20312852 11.4322941,7.79557051 10.9375,8.27734375 C10.4427059,8.75911699 9.85026387,9 9.16015625,9 C8.47004863,9 7.88411699,8.75911699 7.40234375,8.27734375 C6.92057051,7.79557051 6.6796875,7.20312852 6.6796875,6.5 C6.6796875,5.79687148 6.92057051,5.20442949 7.40234375,4.72265625 C7.88411699,4.24088301 8.47004863,4 9.16015625,4 Z' id='View'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.btn-login.active {
  background: #00afa9;
}

/*# sourceMappingURL=style_2.css.map */
