section.content {
    padding: 91px 91px 45px 91px;
}
.list_deposits h3, .deposit_services h3 {
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #000000;
    margin: 0;
}
.list_deposits h4 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #000000;
    margin: 0;
}
.list_deposits, .deposit_services {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #000000;
}
.list_deposits ul, .deposit_services ul {
    list-style: none;
}
.list_deposits ul li, .deposit_services ul li {
    margin-bottom: 10px;
    position: relative;
}
.list_deposits ul li:before, .deposit_services ul li:before {
    content: '\2014\a0';
    position: absolute;
    left: -38px;
}
.deposit_services ul {
    columns: 3;
    margin: 30px 0 60px 0;
}
.deposit_services ul li {
    padding-right: 40px;
    margin-bottom: 20px;
}

@media (max-width: 1300px) {
    .header_banner .header_banner_title {
        font-size: 30px;
        letter-spacing: -0.04px;
    }
    .header_banner .header_banner_description {
        font-size: 16px;
        letter-spacing: -0.02px;
    }
    .header_banner.deposit {
        padding-top: 100px;
    }
    .header_banner, section.content {
        padding: 30px;
    }
    .deposit_services ul {
        columns: 2;
    }
    .list_deposits h3, .deposit_services h3 {
        font-size: 20px;
        letter-spacing: -0.03px;
    }
    .list_deposits, .deposit_services {
        font-size: 15px;
        letter-spacing: -0.02px;
    }
    .get-credit-wrap {
        margin: 30px;
    }
    .get-credit-wrap .get-credit-form {
        width: 100%;
    }
}
