.detail_menu {
    padding: 56px 91px 81px 91px;
}

.detail_menu .detail_menu_wrap_columns {
    display: flex;
    justify-content: space-between;
}

.detail_menu .detail_menu_column {
    flex: 1;
    margin-right: 40px;
}

.detail_menu .detail_menu_column:last-child {
    margin-right: 0;
}

.detail_menu .detail_menu_column_title {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border-bottom: 1px solid rgba(112, 112, 112, 0.5);
    margin-bottom: 9px;
}

.detail_menu .detail_menu_column_links {
    display: flex;
    flex-direction: column;
}

.detail_menu .detail_menu_column_links a {
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #0050bc;
}

.detail_menu .detail_menu_column_links a:hover {
    text-decoration: underline;
}

.detail_menu .detail_menu_sub {
    display: flex;
}

.detail_menu .detail_menu_sub a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #0050bc;
    margin-right: 20px;
    text-decoration: none;
}

.detail_menu .detail_menu_sub a:hover {
    text-decoration: underline;
}

.detail_menu .detail_menu_sub a img {
    margin-right: 8px;
}
