nav.main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.07);
    z-index: 4;
}

nav.main_menu a {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: left;
    color: #0050bc;
    margin-right: 40px;
    text-decoration: none;
    padding: 16px;
}

nav.main_menu a:hover {
    text-decoration: underline;
}

nav.main_menu a.active {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    position: relative;
}

nav.main_menu a.active::after {
    content: '';
    width: 100%;
    height: 10px;
    top: -16px;
    left: 0;
    display: block;
    position: absolute;
    background: #fff;
    z-index: 5;
}

nav.main_menu a:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    nav.main_menu {
        display: none;
    }
}
